<div class="saving-container">
  <h2 class="saving-title">Registro de Ahorros</h2>
  <div class="saving-cards">

    <mat-card>
      <mat-card-header>
        <h3 class="saving-card-title">Ingresos $</h3>
      </mat-card-header>
      <mat-card-content>
        <h2 class="saving-card-content-title"><strong>$/. {{income()}}</strong></h2>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <h3 class="saving-card-title">Gastos $</h3>
      </mat-card-header>
      <mat-card-content>
        <h2 class="saving-card-content-title"><strong>$/. {{totalExpense()}}</strong>
        </h2>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <h3 class="saving-card-title">Total $</h3>
      </mat-card-header>
      <mat-card-content>
        <h2 class="saving-card-content-title"><strong>$/. {{total()}}</strong></h2>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="saving-form-content">
    <mat-card>
      <mat-card-content>
        <form class="saving-form" [formGroup]="form()!" (ngSubmit)="onSubmit()">
          <!-- ================================================
                              DESCRIPTION
          ===================================================-->
          <div class="saving-form-field">
            <mat-form-field [appearance]="'outline'">
              <mat-label>Descripcion</mat-label>
              <input matInput placeholder="Descripcion" formControlName="description">
              <mat-icon matSuffix>description</mat-icon>
            </mat-form-field>
          </div>
          <!-- ================================================
                                VALUE
          ===================================================-->
          <div class="saving-form-field">
            <mat-form-field [appearance]="'outline'">
              <mat-label>Valor</mat-label>
              <input matInput placeholder="0" type="number" formControlName="amount">
              <mat-icon matSuffix fontIcon="attach_money"></mat-icon>
            </mat-form-field>
          </div>
          <!-- ================================================
                              DATEPICKER
          ===================================================-->
          <div class="saving-form-field">
            <mat-form-field [appearance]="'outline'">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- ================================================
                              OPTIONS
          ===================================================-->
          <div class="saving-form-field">
            <mat-radio-group aria-label="Select an option" formControlName="category">
              <mat-radio-button value="1">+S/ Ingresos</mat-radio-button>
              <mat-radio-button value="2">-S/ Gastos</mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- ================================================
                              SUBMIT
          ===================================================-->
          <div class="saving-form-field">
            <button mat-flat-button type="submit" color="primary" [disabled]="isDisabledButton()">Registrar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="saving-table">
    <!-- <mat-card> -->
    <!-- <mat-card-content> -->
    <app-table [dataSource]="dataSource()"></app-table>
    <!-- </mat-card-content> -->
    <!-- </mat-card> -->
  </div>
</div>