<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <app-sidebar [user]="user"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent" class="sidenav-toolbar">
      <div>
        @if (isHandset$ | async) {
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        }
        <span>GaccDev - Projects</span>
      </div>
      <button mat-icon-button matTooltip="Primary" color="" (click)="signOut()">
        <mat-icon>
          logout
        </mat-icon>
      </button>
    </mat-toolbar>
    @if (true) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <div class="sidenav-main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>