<div class="form-container">
  <h1 class="form-title">Sign In</h1>
  <form [formGroup]="authForm">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ingrese su email" type="email">
        <mat-icon matSuffix fontIcon="person" />
        <!-- <mat-error *ngIf="hasError('email')">{{ errorMessage('email') }}</mat-error> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Ingrese su contraseña" type="password">
        <mat-icon matSuffix fontIcon="key" />
        <!-- <mat-error *ngIf="hasError('password')">{{ errorMessage('password') }}</mat-error> -->
      </mat-form-field>
    </div>
    <div>
      <span><a routerLink="/auth/forgot-password">Forgot password?</a></span>
    </div>
    <div>
      <!-- <button mat-raised-button color="primary" type="submit">
        Sign In
      </button> -->
      <button mat-flat-button color="primary">
        Sign In
        <mat-icon fontIcon="arrow_forward_ios"></mat-icon>
      </button>
    </div>
    <div>
      <button mat-raised-button type="button" (click)="signInGoogle()">
        Google login
      </button>
    </div>
    <!-- <ng-container *ngIf="action === 'sign-in'"> -->
    <div>
      <span>Don-t have an account yet?</span> - <a routerLink="/auth/sign-up">Sign up</a>
    </div>
    <!-- </ng-container> -->

  </form>
</div>
