.form {
  &-container {
    width: 25rem;
    padding: 1.5rem;
    border-radius: .35rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    overflow: hidden;
    background-color: #fff;
  }

  &-title {
    margin-bottom: 1rem;
    text-align: center;
  }

  &-forgot {
    margin-bottom: .75rem;
  }
}




button {
  width: 100%;
  padding: 1.25rem;
  margin-bottom: .675rem;
  border-radius: 1.8rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}
